<nav class="navbar navbar-expand-md navbar-dark fixed-top top-nav-collapse" style="background: #0652DD;">

  <div class="container-fluid">
  <!-- Brand -->
  <img src="/images/icon.png" class="mr-2" alt="40" width="" height="30">
  <a class="navbar-brand" style="font-weight: bold; font-family: helvetica;" href="#">HotelApp</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: #fff; font-weight: bold;" href="#"><i class="fa fa-home"></i> Beranda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff; font-weight: bold;" href="#"><i class="fa fa-pencil"></i> Informasi Hotel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff; font-weight: bold;" href="#"><i class="fa fa-info-circle"></i> Tentang Hotel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff; font-weight: bold;" href="#"><i class="fa fa-address-book-o"></i> Kontak</a>
      </li>
    </ul>
  </div>

  </div>

</nav>