

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<a href="/" class="btn btn-success mt-3"><i class="fa fa-arrow-left"></i> Kembali</a>	
		</div>
		
		<div class="col-md-12 mb-5">
			<div class="card mt-5" style=" box-shadow: 5px 10px 10px 10px #888;">
				<div class="card-body">
					<div class="col-md-12">
						<h1 class="display-4s text-center">Detail Informasi Kamar Hotel	</h1>
					</div>
					<div class="row">
						<div class="col-md-6 mt-5 mb-5">
							<img src="/images/banner-6.jpg" alt="" class="card-img-top">
						</div>
						<div class="col-md-6 mt-5">
							<h4 class="display-4s mt-2">Kamar {{item.nomor}}</h4>
							<h4 class="display-4s">Jumlah Kasur {{item.jmlKasur}}</h4>
							<h4 class="display-4s">Harga Rp.{{item.harga}}</h4>
							<h4 class="display-4s">Fasilitas : {{item.fasilitas}}</h4>
						</div>
					</div>
				
				</div>
			</div>	
		</div>
		

	</div>
</div>
